$primary: #00d76e;
$primary-dark: #00a440;
$primary-light: #62ff9e;
$secondary: #1b191d;
$secondary-light: #6c6a6f;

@font-face {
  font-family: "Comfortaa";
  src: url("assets/fonts/Comfortaa_Regular.eot") format("eot"),
    url("assets/fonts/Comfortaa_Regular.woff") format("woff"),
    url("assets/fonts/Comfortaa_Regular.ttf") format("truetype"),
    url("assets/fonts/Comfortaa_Regular.svg#Comfortaa") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  display: contents;
  background-color: $secondary-light;
  font-family: "Confortaa", Arial, sans-serif;
  color: white;
  font-size: 1.2rem;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: $secondary;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  h1 {
    font-size: 2.2rem;
  }
  i {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 100;
    color: $primary;
  }
}

.searchParams {
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: -webkit-center;
  input {
    width: 80vw;
    height: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
  }
  span {
    margin-bottom: 2vh;
    margin-top: 5vh;
  }
}

.result {
  display: flex;
  width: 90vw;
  flex-direction: column;
  margin-top: 5vh;
  margin-left: 5vw;
  .title {
    text-align: center;
  }
  .resultCard {
    display: flex;
    flex-direction: row;
    .resultInfo {
      margin-left: 5vw;
      width: 60vw;
    }
    img {
      max-width: 30vw;
      height: 30vw;
    }
    hr {
      width: 100%;
    }
    a {
      color: $primary;
      text-decoration: none;
    }
    i {
      font-size: 5rem;
      color: $primary;
    }
    .populatity {
      font-size: 1.3rem;
    }
    .imageCard {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30vw;
      height: 30vw;
    }
    .noImageCard {
      margin-right: 2vw;
    }
  }
}

.button {
  text-align: center;
  background-color: $primary-dark;
  border-radius: 17px;
  display: unset;
  color: white;
  padding: 10px 30px;
  font-weight: bold;
  text-decoration: none;
  width: 80vw;
  margin-top: 2vh;
  font-size: 1rem;
}
.button:hover {
  background-color: $primary-light;
}
.button:active {
  position: relative;
  top: 1px;
}

@media only screen and (min-width: 768px) {
}
